@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-color:hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: hsl(0, 0%, 100%);
    padding: 12px;
    border-radius: 15px;
    
    
}

.image{
    display: inline-block;
    width: 250px;
    height:250px;
    
}

.img{
    width: 250px;
    height:250px;
    object-fit: cover;
    border-radius: 7px;
    margin-bottom: 15px;
}

.title{
    width:250px;
    text-align: center;
    font-size: 21px;
    line-height: 120%;
    color:hsl(218, 44%, 22%);
    font-weight: 700;
    margin-bottom: 10px;
    
}

.text{
    width:250px;
    text-align: center;
    font-size: 15px;
    line-height: 110%;
    color: hsl(220, 15%, 55%);
    margin-bottom: 20px;
}


    
